.addContactFormContainer {
  padding: 114px 89px 111px 89px;

  .infoTagContainer {
    display: flex;
    justify-content: space-evenly;

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
    }

    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
      margin-bottom: 23px;
    }


    .inputSetContainer {
      margin-bottom: 20px;

      .contactDescription {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        p {
          font-size: 12px;
          color: #444444;
        }
        span {
          margin-bottom: 3px;
        }
      }
      .tagsGroup {
        .tagsGroup {
          .size30 {
            height: 28px;
          }
        }
      }
    }


    .pillContainer {
      margin-right: 12px;
    }


    .inputSet {
      display: flex;
      margin-bottom: 50px;
      height: 68px;

      .inputField {
        margin-right: 5em;

        span {
          margin-bottom: 12px;
        }
      }
    }
  }

  .longInput {
    input {
      max-width: 507px;

    }
  }
  .addContactBtnGroup {
    display: flex;
    margin-top: 154px;
    .button {
      height: 38px;
    }

    .newContactButton {
      margin-right: 22px;
      button {
        height: 38px;
        box-shadow: none;
      }
    }
    .cancelButton {
      button {
        height: 38px;
      }
    }
  }
}

