.addContactFormContainer {
  padding: 114px 89px 111px 89px;

  .infoTagContainer {
    display: flex;
    flex-flow: column;

    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
    }

    h6 {
      font-size: 16px;
      font-weight: bold;
      color: #444444;
      margin-bottom: 23px;
    }

    .bottomArea {
      display: flex;
      .inputSetContainer {
        margin-bottom: 20px;

        .contactDescription {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
        }
      }
    }

    .pillContainer {
      margin-right: 12px;
    }


    .inputSet {
      display: flex;
      margin-bottom: 50px;
      height: 68px;

      .inputField {
        margin-right: 5em;

        span {
          margin-bottom: 12px;
        }
      }
    }
  }

  .longInput {
    input {
      max-width: 507px;

    }
  }
}

