.contacts-layout {
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;


  .assigneeGroup {
    display: flex;
    .pillContainer {
      margin-right: 5px;
    }
  }
  
  

  .leftMenu {

  }
  .rightContent {
    width: 100%;
    .contactsContainer {
      padding: 48px 33px 20px 34px;
      max-height: 100vh;
      width: 100%;
      margin-right: auto;
      margin-left: auto;

      .topBar {
        display: flex;
        justify-content: space-between;

        .searchBar {

          .searchSVG {
            input {
              margin-bottom: 0px;
              width: 421px;
              box-shadow: none;
              padding: 23.5px 0px;
              padding-left: 50px;
              padding-right: 25px;
              border-radius: 15px;
            }
          }
        }

        .buttonGrp {
          display: flex;
          width: 500px;
          justify-content: space-between;
          align-items: self-end;
          margin-bottom: 30px;

          button {
            max-height: 38px;
            border-radius: 10px;
            text-transform: unset;
            height: 38px;
            box-shadow: none;

            img {
              margin-right: 6px;
              margin-bottom: 3px;
            }
          }

          button:hover {

          }

          .newContactButton {

          }
        }
      }



      .newCheckboxContainer {
        justify-content: right;
      }
    }
  }
}
.tagsGroup {
  // background-color: yellow;
}

.pillContainer {
  margin-right: 10px;
  span {
    padding: 5px 21px
  }
  .pill{
    max-height: none;
    width: fit-content;
    padding: 3px 15px 5px 15px;
    height: 25px;
    font: normal normal normal 15px/22px Manrope;
  }
}
.searchInput{
  background: url("../../public/icon-search.svg") no-repeat scroll 7px 7px;
  width: 421px;
  height: 47px;
  font-size: 15px;
  padding-left:30px;
  background: var(--unnamed-color-f8f9fb) 0% 0% no-repeat padding-box;
  background: #F8F9FB 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  &:active{
    outline: none;
    border: 1px solid #2385FC;
  }
  &:focus{
    outline: none;
    border: 1px solid #2385FC;
  }
}
