.dashboard-layout {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  padding: 48px 33px 20px 34px;
  margin: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
  height: 100%;

  .dashboardFilter {
    background: white;
    border-radius: 10px;
    padding: 40px 30px 40px 25px;
    padding: 40px 30px 40px 25px;
    position: absolute;
    z-index: 999;
    left: 630px;
    margin-top: 15px;
    box-shadow: 0px 7px 10px #00000029;
    width: 493px;
    height: 827px;

    .filterArea {
      .checkboxGroup1 {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;

        .buttonGrp {
          margin-top: 0px;

          .cancelBtn {
            margin-left: 20px;
          }
        }

        h1 {
          margin-bottom: 0px;
        }

        .newContachButton {
          height: 34px;
        }
      }

      .pillContainer {
        margin-left: 14px;

      }
    }
  }

  .navbarPurple {
    display: flex;
    justify-content: space-between;

    .imageBtnGrp {

    }
  }

  .chartGroup {
    margin-top: 30px;
  }

  .dashboardRow {
    display: flex;

    .tableSet {
      width: 100%;
    }
  }

  .dashboardColumn {
    float: left;
    width: 50%;
    margin-right: 75px;
  }

  .lineCardGroupSet {
    margin: 44px ;

    .lineCardGroup1 {
      display: flex;

      .lineChartCard {
        margin-right: 50px;
      }
    }
    .lineCardGroup2 {
      display: flex;
      margin-top: 35px;
      .changingPercentageCard {
        margin-top: 8px;
        margin-right: 15px;
        display: block;
        float: left;
      }
    }
  }

}