.dashboard-layout {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  padding: 48px 33px 20px 34px;
  margin: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 100%;
  height: 100%;

  .dashboardFilter {
    background: white;
    border-radius: 10px;
    padding: 40px 30px 40px 25px;
    position: absolute;
    z-index: 999;
    left: 630px;
    margin-top: 15px;
    box-shadow: 0px 7px 10px #00000029;
    width: 493px;
    height: 827px;

    .filterArea {
      .checkboxGroup1 {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;

        .buttonGrp {
          margin-left: auto;
          margin-right: 2%;
          margin-top: 0px;
          font: normal normal medium 16px/22px Manrope;

          .cancelBtn {
            margin-left: 20px;
            font: normal normal medium 16px/22px Manrope;
          }
        }

        h1 {
          margin-bottom: 0px;
        }

        .newContachButton {
          height: 34px;
        }
      }

      .pillContainer {
        margin-left: 14px;

      }
    }
  }

  .navbarPurple {
    display: flex;
    justify-content: space-between;

    .mf_dropdown{
      min-width: 220px;
    }
    .left{
      display: flex;
      width: 50vw;
    }
    .right{
      display: flex;
      // width: 20vw;
      .mf_dropdown{
        min-width: 0;

      }
    }
    .imageBtnGrp {

    }
  }

  .chartGroup {
    margin-top: 30px;
  }

  .dashboardRow {
    display: flex;

    .tableSet {
      width: 100%;
    }
  }

  .dashboardColumn {
    float: left;
    width: 50%;
    margin-right: 75px;
  }

  .lineCardGroupSet {
    padding: 44px 0;


    .lineCardGroup1 {
      display: flex;

      .lineChartCard {
        flex-grow: 1;

        margin: 0 25px;
      }
    }
    .lineCardGroup2 {
      margin-top: 35px;
      .changingPercentageCard {
        margin-top: 15px;
        margin-right: 15px;
        display: block;
        float: left;
      }
    }
  }
} .filter_box{
  padding: 0.5rem;
  margin:0 0.5rem;
  &.active{
    background-color: #D0E9FF;
    border-radius: 10px;
   
  }
  .filter_icon{
    background-image: url("../../public/livechat/filter_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;
    width:15px;
    height: 15px;
    cursor: pointer;
  }
}