.integrations-layout {
  background: #F8F9FB 0% 0% no-repeat padding-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 5rem 3rem;
  .cardChannelGroupContainer {
    display: flex;
    flex-flow: column;
    h1{
      font: normal normal 800 24px/33px Manrope;
      color: #444444;
      padding-left: 2rem;
    }
    .cardChannelGroup {
      h1 {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 33px;
      }
    }
    .cardContainer {
      position: relative;
      gap:50px;
    }
  }
}