.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  // transform: scale();
}

.layout-sidebar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100%;
  min-width: 180px;
  max-width: 220px;
  // height: 100vh;
  border-right: 2px solid #F1F1F1;
  position: relative;
  justify-content: space-between  ;

  .brand-logo {
    display: flex;
    //min-height: 180px;
    height:20vh;

    min-height: 140px;
    max-height: 280px;
    img {
      width: 90px;
      height:50px ;
      // max-width: 79px;
      // max-height: 50px;
      margin:auto auto;
    }
    padding: 1rem;
  }


  .active {
    border-radius: 10px;
    opacity: 1;
    background-color: #D0E9FF;
    color: #2198FA;
  }

  .active_text {
    color: #2198FA;
  }
  .nav-items{
    max-height: 450px;
    justify-content: space-between;
    display:flex;
    flex-direction: column;
    height: 35vh;
  }
  .nav-item {
    padding: 0.6rem;
    padding-left: 1.5rem;
    text-align: left;
    align-items: center;
    display: flex;

    svg {
      margin-right: 12.2px;
      width: 30;
      height: 30;
    }

    #expand_more-24px {
      margin-left: auto;
      margin-right: 0
    }

  }

  .sub-nav-item {
    padding-left: 3.9rem;
  }

  .sidebarToggle{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    width:21px;
    height:47px;
    fill:white;
  }

}

.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #F3F3F5;
  opacity: 1;
}
.side-item:not(.notification_activate), .notify_box_li{
  //height: 5vh;
  cursor: pointer;
  &:hover, &:focus  {
    transform: translate(-2.5px, 0);
    transition: all 250ms ease-in-out;
    color: #2198FA;
  }
}
.notification_activate .nav-item{
  cursor: pointer;
}

.active-side-item {
  padding: 0 .5rem;
  border-right: 3px solid #2198FA;
  
}

.page-title {
  flex: 1;
  color: #2198FA;
  font-size: 2rem;
  align-items: center;
  vertical-align: center;
}

.selectStatusOnline {
  margin: .5rem;
  background: #23BF9B 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  padding: 1px;
}

.selectStatusOffline {
  margin: .5rem;
  background: var(--unnamed-color-74788d) 0% 0% no-repeat padding-box;
  background: #74788D 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  padding: 1px;
}

.user-session {
  display: inline;


  .user-dropdown {
    flex: 1;
    margin-left: auto;
    position: relative;
    display: inline-block;
  }

  .user-menu {
    display: inline-block;
    position: absolute;
    vertical-align: center;
    justify-content: center;
    top: 45px;
    z-index: 1;
    transition: opacity 289ms;
  }

  .user-menuHide {
    opacity: 0;
    margin-left: 400px;
  }

}

 .notification_activate{
  display: flex;
  position: relative;
  text-align: center;
  border: none;
  align-items: center;
  background-color:#D0E9FF ;
   color: #2198FA;

  .notify_box{
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: absolute;
    justify-content: center;
    left: 100%;
    width: 180%;
    min-width: 300px;
    max-height:50vh;
    bottom:-200%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    overflow: scroll;
    color: #444444;
    opacity: 1;

    .notify_box_title{
      padding: 1rem;
      text-align: left;
      font: normal normal bold 16px/22px Manrope;
    }
    .notify_box_list{
      overflow: scroll;
      .notify_box_li{

        cursor: pointer;
        width: 100%;
        padding: 0.2rem;
        position: relative;
        display: flex;
        flex-direction: row;

        .notify_icon{
          width: 50px;
          height: 50px;
          align-self: center;
          justify-content: center;
          vertical-align: center;
          padding: 0.5rem 0;
          img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }


        .notification_content{
          width: 80%;
          display: flex;
          padding: 1rem;
          flex-direction: column;
          text-align: left;
          color: #444444;
          font: normal normal normal 14px/19px Manrope;
          .notification_from{
            font: normal normal bold 14px/19px Manrope;
          }
          .notification_detail{
            font: normal normal normal 10px/14px Manrope;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .notification_time{
            font: normal normal normal 8px/11px Manrope;
          }
        }


        .notify_box_unread_dot{

          width: 8px;
          height: 8px;
          align-self: center;
          justify-content: center;
          vertical-align: center;

          border-radius: 50%;
          background: #0D6EFD;
        }
      }
    }

  }
  .notification_activate{
    background-color:#D0E9FF ;
  }


  //.badge {
  //  position: absolute;
  //  font-size: xx-small;
  //  left: 2rem;
  //  top: -.25rem;
  //  background-color: #F46A6A;
  //  border-radius: 160px;
  //  text-align: left;
  //  color: #FFFFFF;
  //  opacity: 1;
  //  margin-left: 15px;
  //}
}

.notification-menu {
  display: inline-block;
  position: absolute;
  vertical-align: center;
  justify-content: center;
  top: 31px;
  left: -15px;
  z-index: 1;
  opacity: 1;
  transition: opacity 289ms;
  transform-origin: 125px 0;

  .dropdown-item {
    height: 34px;
  }
}

.notificationHide {
  opacity: 0;
  margin-left: 400px;
}

.dropdown-btn {
  background: #F5F6F8 no-repeat padding-box;
  border-radius: 19px;
  opacity: 1;
  padding: 0.5rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.collapseLayout {
  .layout-sidebar {
  width:80px;
  min-width: 80px;
}

  .brand-logo {
    height: 6rem;
    min-height: 140px;
    img{
      max-width: 48px;
      min-height: 20px;
      min-width: 20px;
      margin-left: 5px;
    }
  }
  .nav-items {
    .nav-item{

    padding: 0.6rem;
    }
    .side-item{
      display: flex;
      justify-content: center;
    }
    .side-item-name {
      display: none;
    }
    .active-side-item{
      display: flex;
      justify-content: center;
    }
    svg{
      margin-right:0;
      }
  }

  .side_bottom{
    height: auto;

    .side-item-name{
      display: none;
    } 
    .side-item{
      display: flex;
      justify-content: center;
    }

    .nav-item{
      padding: .8rem;
      display: flex;
      justify-content: center;
      width: 100%;

      svg{
        margin-right:0;
        }
      }

  }
  .collapseButton {
    .collapseIcon {
      transform: rotate(270deg);
    }
  }
}

.collapseButton {
  background: #D0E9FF;
  border-radius: 10px 0 0 10px;
  border: none;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1rem 0.15vw;
  color: #2198FA;
  bottom:15%;
  min-width: 0;
  .collapseIcon {
    transform: rotate(90deg);
  }
}

.collapseButton:hover {
  background: #bedef8;

  svg {
    width: 19px;
    height: 19px;
  }
}

.main-content {
  height: 100%;
}

.layout-main {
  flex-grow: 1;
  flex-direction: column;
  padding: 0;
  margin: 0;
  display: flex;
  //width: 100%;
  height: 100vh;
  overflow: scroll;
}

.main-content {
  overflow: scroll;
  width: 100%;
  //max-width: 95vw;
}

.notificationDropdownSet {
  margin-right: -50px;
  margin-top: 5px;

  .badge {
    position: absolute;
    font-size: xx-small;
    margin-left: 13px;
    background-color: #F46A6A;
    border-radius: 160px;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
  }

  .notificationDropdown {
    div {
      padding: 0;
      margin-top: 1px;
        div {
          padding: 7px !important;
          background: url("../../public/bell.svg") center / contain no-repeat;
          background-size: 15px 15px;
          font-size: 0;
        }

      svg {
        display: none;
      }


      fieldset {
        border: none;
      }
    }
  }
}

.loggingStatusDropdown {
  div {
    div {
      div {
        display: flex;
      }
    }

    svg {
      display: none;
    }


    fieldset {
      border: none;
    }
  }
}
.side_bottom{
  margin-top: auto;
  padding-bottom: 2rem;
  max-height: 25%;
}

.admin_layout {
  padding: 2rem;
  display: flex;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 100vh;
  .rightContent {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}