.organization-layout {
  display: flex;
  background-size: cover;
  opacity: 1;
  height: 100vh;
  padding: 2rem;
  .rightContent {
    width: 100%;
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    .table_container{
      flex-grow: 1;
    }
  }
}