*{

}
.login_layout{
  display: flex;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  background: url("../../public/Mask Group 82.svg") no-repeat ;
  background-position: center;
  background-size: cover;
  opacity: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  // box-sizing: content-box;
  // padding: 10vh 0 10vh 0;
  // margin: 10vh 0 10vh 0;
  // flex-wrap: wrap;
.maincontainer{
  display: flex;
  justify-content: center;
  max-height: 732px;
  max-width: 720px;
  // padding-top: 4.8% ;
  min-width: 500px;
  min-height: 300px;
  width:56vh;
  height: 50vh;
}
  .recovery_panel {
    position: relative;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 7px 20px #00000017;
    background-color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    max-height: 732px;
    max-width: 720px;
    min-height: 500px;
    width: 37.5vw;
    min-width: 350px;
    height: 100%;
    // padding: 10% 0 5%;


    .logo_container{
      display: flex;
      min-height: 15%;
      width: 100%;
      margin-bottom: 5%;
    
      // margin-bottom: 1.5vw;
    }
    .login_logo{
      position: absolute;
      left: 7.74%;
      top:6.8%;
      max-width: 88px;
      max-height: 78px;
      width: 5.5vw;
    }
    .form_recovery{

height:"150%";
display: flex;
// flex-wrap: wrap;
flex-direction: column;

    }
    .input_area{
      min-height: 45%;
      margin-bottom: 5%;
    }

    .submit_row{
      // margin-top: -15%;
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      min-height: 20%;
      
      .send_button{
        display: flex;
        align-items: center;
        text-align: center;
        width: 40%;
        height: 50px;
        margin: 0 auto 3%;
        .bottomName{
          font: normal normal normal 18px/24px Manrope;
          letter-spacing: 0px;
          color: #FFFFFF;
          
        }
      }
    
    }
    .welcomeMessage{
      // display: flex;
      text-align: center;
      // margin-bottom: 7%;
      .login_title {
        color: var(--unnamed-color-2198fa);
        text-align: center;
        font: normal normal 800 2vw/62px Manrope;
        letter-spacing: 0px;
        color: #2198FA;
        margin-bottom: 5%;
      }
    }
      .login_message{
        max-width: 75%;
              color: var(--unnamed-color-8b8b8b);
              text-align: center;
              font: normal normal 450 1vw/31px Manrope;
              letter-spacing: 0.8px;
              color: #8B8B8B;
              // margin-bottom: 10%;

      }
      // .Success{
      //   margin-top: -20%;}
    .text_box{
      display: flex;
      align-items: center;
      box-sizing:content-box;
      width: 80%;
      // margin: 0 auto;
      // padding: 0 10%;
      max-width: 547px;
      max-height: 68px;
      margin: 5% auto;
      height: 7vh;
      font-size: 2vh;
      
      .text_row{
        height: 100%;
      }
    }
    // h4 {
    //   color: var(--unnamed-color-2198fa);

    //   font: normal normal 800 45px/62px Manrope;
    //   letter-spacing: 0px;
    //   color: #2198FA;
    //   font-size: 2.2vw;
    //   // padding: 2rem 0 2rem;
    //   margin: 8vw auto 3rem;
    //   max-height: 150px;
    //   // max-width: 347px;
    // }

    p {
      text-align: center;
      font-size: 1vw;
      margin: auto;
      color: var(--unnamed-color-ffffff);
      font: normal normal normal 400 1.2vw/32px Manrope;
      letter-spacing: 0.8px;
      color: #8B8B8B;
      opacity: .95;
      
    }
    
  }
  
  .input_margin{
    margin: 5% auto;
    height: 6.3vh;

  }


  // .recovery-form {
  //   justify-content: center;
  //   margin-top: 5%;

  //   .emailSVG {
  //     position: relative;
  //     margin-bottom: 5%;
  //     border-radius: 10px;
  //     box-shadow: 0px 3px 6px #00000029;
  //   }

  //   .emailSVG:before {
  //     content: "";
  //     position: absolute;
  //     left: 3rem;
  //     top: 0;
  //     bottom: 0;
  //     width: 20px;
  //     background: url("../../public/icon-email.svg") center / contain no-repeat;
  //   }

  //   input {
  //     height: 2em;
  //     border-radius: 10px;
  //     opacity: 1;
  //   }
  //   input[type="text"] {
  //     width: 29rem;
  //     height: 4rem;
  //     border: white;
  //     font-size: 16px;
  //     padding-left: 5.5em;
  //     padding-bottom: 4px;
  //   }
  //   input:active {
  //     border: white;
  //     box-shadow: 0px 2px 6px #2198fa8c;
  //   }
  //   input:focus {
  //     outline: none;
  //     box-shadow: 0px 2px 6px #2198fa8c;
  //   }
  //   input:hover {
  //     box-shadow: 0px 2px 6px #2198fa8c;
  //   }

  //   input[type="submit"] {
  //     width: 30vh;
  //     height: 3rem;
  //     color: white;
  //     background: #2198FA;
  //     border: #2198FA;
  //     font-size: 18px;
  //   }
  //   input[type="submit"]:hover {
  //     background: #0D6EFD;
  //     }
  // }
  }

  .login_error_box{
   position: relative;
    .login_error{
      position:absolute;
      left:5vw;
      bottom: -8px;
      color: var(--unnamed-color-fc736a);
      text-align: left;
      font: normal normal normal 12px/17px Manrope;
      letter-spacing: 0px;
      color: #FC736A;
      opacity: 1;
    }
  }