$primary-color : #2198FA;
$primary-light-color : #D0E9FF;
$text-color : #8B8B8B;
$blue-color : #2172fa;
$disable-color : #F5F6F8;
$light-grey-color : #F8F9FB;
$grey-border-color : #E5E7EC;
$grey-bg-color : #F8F9FB;
$success : #68C093;
$light-success : #CCF0E3;
$light-warning : #FCECD2;
$warning : #F1B44C;
$light-danger :#FCD9D9;
$danger : #FC736A;
$purple : #5B73E8;
$light-purple :#D6DCF9;