.checkboxGroup1 {
  margin-left: 11px;
  margin-top: 39px;
  color: #444444;
  padding-right: 30px;

  h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .checkboxGrp {
    display: flex;
    justify-content: space-between;

    /* The container */
    .newCheckboxContainer {
      margin-bottom: 12px;
      margin-right: 5px;
      .newCheckboxLabel {
        margin-right: 8px;
      }
      .checkboxContentGrp {

      }
    }
    .checkboxContainer {
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;

      /* Hide the browser's default checkbox */
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 21px;
        width: 21px;
        border: 1.5px solid #E7E8EC;
        border-radius: 5px;
      }
    }

    /* On mouse-over, add a grey background color */
    .checkboxContainer:hover input ~ .checkmark {
      background-color: #c1e3ff;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: #2198FA;
      box-shadow: 0px 3px 6px #00000029;
      width: 21px;
      height: 21px;
      border: none;
    }
  }
}

.checkboxGroup2 {
  margin-left: 11px;
  margin-top: 30px;
  margin-right: 30px;
  color: #444444;

  p {
    font-size: 12px;
  }

  .checkboxGrp {
    display: flex;
    flex-flow: column;

    .newCheckboxContainer {
      margin-bottom: 25px;
    }

    .checkboxContainer {
      margin-bottom: 25px;
      position: relative;
      cursor: pointer;

      img {
        width: 22px;
        height: 22px;
        margin-right: 5px;
      }

      input {
        float: right;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        right: 0;
        height: 21px;
        width: 21px;
        border: 1.5px solid #E7E8EC;
        border-radius: 5px;
      }
    }
  }

  /* On mouse-over, add a grey background color */
  .checkboxContainer:hover input ~ .checkmark {
    background-color: #c1e3ff;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2198FA;
    box-shadow: 0px 3px 6px #00000029;
    width: 21px;
    height: 21px;
    border: none;
  }

  .checkboxContainer:active input ~ .checkmark {

  }
}

.testCheckboxContainer {
  position: relative;
  cursor: pointer;

  input {
    float: right;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    height: 21px;
    width: 21px;
    border: 1.5px solid #e7e8ec;
    border-radius: 5px;
    top: -16px;
    left: -10px;
  }

  /* On mouse-over, add a grey background color */
  .checkmark:hover {
    background-color: #2198FA;
  }

  .checkmark:active {
    background-color: #2198FA;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2198FA;
    box-shadow: 0px 3px 6px #00000029;
    width: 21px;
    height: 21px;
    border: none;
  }
}

.columnCheckboxContainer {


  img {

  }

  input {

  }

  .checkmark {

  }

  /* On mouse-over, add a grey background color */
  .columnCheckboxContainer:hover input ~ .checkmark {
    background-color: #c1e3ff;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #2198FA;
    box-shadow: 0px 3px 6px #00000029;
    width: 21px;
    height: 21px;
    border: none;
  }

  .columnCheckboxContainer:active input ~ .checkmark {

  }
}

.newCheckboxContainer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  .checkboxContentGrp {
    img {
      margin-right: 4px;
      margin-bottom: 3px;
      width: 16.48px;
      height: 16.48px;
    }
  }
  .newCheckboxLabel {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 1px;
  }
  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #2198FA;
    width: 21px;
    height: 21px;
    border: 1px solid #e5e7ec;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }

  .newCheckboxLabel + .newCheckboxLabel {
    margin-top: 1em;
  }
  input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
    border-radius: 5px;
  }
  input[type="checkbox"]:checked {
     border: 1px solid #2198FA;;
}

  input[type="checkbox"]::before {
    content: "";
    width: 17px;
    height: 17px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #2198FA;
    border-radius: 3px;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: #2198fa;

  }
}