@use "../variables/variables";

.regular_text {
    font-size: 1vmin;
    //font-weight: 100; nomal font weight was 600 in design
}

.bold_text {
    font-size: 1.1vw;
    font-weight: bold;
}
.link_text{
    font-size: 1vw;
    text-decoration: underline;
}
.menu_text {
    font-size: 1.1vw;
}
.sub_menu_text {
    font-size: 1.1vw;
    font-weight: bold;
}
.select_text {
    color: variables.$mf_primary_color;
}

.ok_button_text {
    color: white;
}

.cancel_button_text {
    color: variables.$mf_text_color;
}

.title_text {
    color: variables.$mf_primary_color;
    font-size: 2vw;
}

.field_title_text {
    color: variables.$mf_text_color;
    font-size: 0.9vw;
}

.field_text {
    color: variables.$mf_text_color;
    font-size: 1vw;
    font-weight: 100;
}

.tag_text {
    font-size: 0.8vw;
}

.tag_team_text {
    color: white;
}

.tag_1 {
    color: variables.$mf_primary_color;
}
.tag_2 {
    color: variables.$mf_purple;
}
.tag_3 {
    color: variables.$mf_warning;
}
.tag_4 {
    color: variables.$mf_danger;
}

.assignee_text {
    font-size: 0.8vw;
}
.assignee_1 {
    color: variables.$mf_primary_color;
}
.assignee_2 {
    color: variables.$mf_warning;
}
.assignee_3 {
    color: variables.$mf_light_success;
}
.assignee_4 {
    color: variables.$mf_purple;
}
.assignee_5 {
    color: variables.$mf_danger;
}

.highlight_text {
    color: variables.$mf_primary_color;
}

.notification_num_text {
    color: white;
    font-size: 0.7vw;
}

.avatar_text {
    font-size: 5vw;
}