.forgetPasswordPanel {
  box-shadow: 0px 7px 20px #00000017;
  border-radius: 40px;
  padding: 53px 86.5px 62px 56px;
  height: 773px;
  width: 720px;

  .companyLogo {
    img {
      width: 88.26px;
      height: 78.47px;
    }
  }

  .mainContent {
    //margin-left: 30px;
    display: flex;
    flex-flow: column;
    height: 641px;
    justify-content: space-between;

    .welcomeMessage {
      text-align: center;
      margin-top: 60.5px;

      h1 {
        font-size: 45px;
        //font-weight: bold;
        margin-bottom: 35px;
        color: var(--unnamed-color-2198fa);
        font: normal normal 800 45px/62px Manrope;
        letter-spacing: 0px;
        color: #2198FA;
        opacity: 1;
      }

      p {
        color: var(--unnamed-color-8b8b8b);
        text-align: center;
        font: normal normal 600 20px/31px Manrope;
        letter-spacing: 0.8px;
        color: #8B8B8B;
        opacity: 1;
      }
    }

    .inputSet {
      display: flex;
      flex-flow: column;
      .logoInputContainer {
        //margin-bottom: 70px;
        .searchSVG {
          input {
            height: 68px;
          }
        }
      }
    }

    .newContactButton {
      text-align: center;
      margin-bottom: 100px;


      button {
        width: 50%;
        font-weight: 100;
        height: 50px;
        font-size: 18px;
      }
    }
  }
}