.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  background-image: url('../../public/Circle-Loading.svg') ;
  align-items: center;
background-position: center;
  background-repeat: no-repeat;
}
.preloaderFadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 300ms, opacity 300ms linear;
}

