.mf_circle_dropdown_div
{

  margin: none;
  position: relative;
  
}.mf_circle_btn{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  min-width: 0;
  background: #F5F6F8 0% 0% no-repeat padding-box;
  color: #444444;
  margin: 3px;
  svg{
    width: 1rem;
    height: 1rem;
  }
}

.mf_md_circle_btn{
  width: 30px;
  height: 30px;
  margin: 3px;
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}

.mf_circle_dropdown{
  z-index: 10;
  cursor: auto;
  position: absolute;
  padding: 1rem 1rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 20px #00000029; 
  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  max-height: 40%;
  min-height: 300px;
  // width: 200px;
  // height: 100px;
  display: flex;
  flex-direction: column;
  top:8%;
  left:25px;
  .mf_circle_dropdown_content{
    overflow: auto;
    // padding-right: 10px ;
  }
  li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding:0.2rem 1rem;
    div{
      // margin: 0;
    }
    .name{
      margin: auto;

      text-align: left;
      font: normal normal normal 1rem Manrope;
      letter-spacing: 0px;
      color: #444444;
    }
  }
}