@use "../variables/variables";

.mf_input{
  width: 100%;
  padding: 1rem;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  opacity: 1;
  border: none;
  &:active{
    outline: none;
    border: 1px solid #2385FC;
  }
  &:focus{
    outline: none;
    border: 1px solid #2385FC;
  }
}

.mf_input_block{

}

.mf_icon_input_block{
  border-radius: 15px;
  position:relative;
  max-width: 547px;;
  width: 75%;
  height: 6.3vh;
  max-height: 68px;
  margin: 5% auto;
  .mf_input{
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem 1rem 20%;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    opacity: 1;
    border: none;
    &:active{
      outline: none;
      border: 1px solid #2385FC;
    }
    &:focus{
      outline: none;
      border: 1px solid #2385FC;
    }
  }
}

.mf_inside_icon{
  position:absolute;
  left: 7.5%;
  height: 100%;
  padding:1rem;
  color:#30A3F1;
}

.mf_input_shadow{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.mf_email_icon{
  mask-image: url("../../public/icon-email.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: variables.$mf_text_color;
}

.mf_pwd_icon{
  mask-image: url("../../public/icon-lock.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: variables.$mf_text_color;
}