.name_td{
  display: flex;
  flex-direction: row;
}

.mf_th{
  justify-content: center;
  text-align: center;
}

.period_table{
  display: flex;
  flex-direction:column;
  text-align: center;
  align-items: flex-start;

}