.msg_row{
  padding: 0.75rem;
}

.msg_from_me{
  height: 100%;
  .msg_body{
    max-width: 60%;
    width: fit-content;
    background: #D0E9FF 0% 0% no-repeat padding-box;
    border-radius: 26px 26px 0px 26px;
    opacity: 1;
    margin-left: auto;
    text-align: left;
    font: normal normal normal 1rem Manrope;
    letter-spacing: 0.08px;
    color: #4E4E4E;
    opacity: 1;
    padding: 0.5rem 1rem;
  }
  .msg_timestamp{
    text-align: right;
    font: normal normal normal 12px/17px Manrope;
    letter-spacing: 0.06px;
    color: #4E4E4E;
    opacity: 1;
  }

}

.msg_from_other{
  height: 100%;
  .msg_body{
    max-width: 60%;
    width: fit-content;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 26px 26px 26px 0px;
    opacity: 1;
    margin-left: 0;
    text-align: left;
    font: normal normal normal 1rem Manrope;
    letter-spacing: 0.08px;
    color: #4E4E4E;
    opacity: 1;
    padding: 0.5rem 1rem;
  }
  .msg_timestamp{
    text-align: left;
    font: normal normal normal 10px Manrope;
    letter-spacing: 0.06px;
    color: #4E4E4E;
    opacity: 1;
  }

}

