.profile_grid{
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 600px;
  max-height: 1100px;
  min-width: 1200px;
  max-width:2200px;
  width: 100%;
  gap: 2.5%;
  padding: 0 1%;
  font: normal normal 600 13px/22px Manrope;
  letter-spacing: 0px;
  color: #444444;
  .info_box
  {
    max-width: 400px;
    max-height: 650px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction:column;
    justify-content: space-around;
  }
  .info_col{
    height: 100%;
    width: 30%;
    // max-height: 800px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    position: relative;

    .dot{
      position: absolute;
      top: 1rem;
      right: 2rem;
      cursor: pointer;
    }
    .ava_block{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      gap: .5rem;
      .ava{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0.5rem auto;
      }
      .title{
        font: normal normal bold 20px/33px Manrope;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
      }
      .chat_btn{
        width: 10%;
        background: #2198FA 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        margin: 0 auto;
      }
    }
    .info_row{
      display: flex;
      flex-direction: column;
    }
    .info_label{
      text-align: left;
      font: normal normal normal 11px Manrope;
      letter-spacing: 0px;
      color: #444444;
      opacity: 1;
    }
    .info_content{
      text-align: left;
      // font: normal normal 600 16px/22px Manrope;
      letter-spacing: 0px;
      color: #444444;
      opacity: 1;    }
  }
  .main_col{
    height: 100%;
    width: 70%;
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    gap:2.5%;
    .two_block{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      gap:2.5%;
      .block{
        flex-grow: 3;
      }
    }
  }
  .activity_log_box{
    display: flex;
    flex-direction: column;
    height: 65%;
    overflow: scroll;
  }
}

.message_pad_write{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 0 .8rem;
  position: relative;
  box-shadow: 0px 7px 20px #00000014;
  border-radius: 10px;
  .write_note{
    border:0;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    padding: 0 1rem;

    // background: #FFFFFF 0% 0% no-repeat padding-box;
    // box-shadow: 0px 7px 20px #00000014;
    &:focus-visible{
      outline: #2198FA ;
    }
  }
  .log_button{
    width:50px;
    height: 25px;
    position: absolute;
    background: #2198FA 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 12px/17px Manrope;
    border-radius: 5px;
    color:white;
    right:1.5rem;

    align-self: center;

  }
}

.message_pad{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 0 .8rem;
  position: relative;

  .left{
    width: 50px;
  }
  .tag{
    border-radius: 25px;
    padding:0rem;

  }
  .right{
    margin:0 2rem;
    padding:5px;

  }
  .listitem {
    .left{
    width: auto;
  }
    .right{
      font: normal normal normal 12px/17px Manrope;
      letter-spacing: 0px;
      color: #8B8B8B;

    }
  }
  .write_note{
    border:0;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    padding: 0 1rem;

    // background: #FFFFFF 0% 0% no-repeat padding-box;
    // box-shadow: 0px 7px 20px #00000014;
    &:focus-visible{
      outline: #2198FA ;
    }
  }
}
.grid_box{
  background: #FFFFFF 0% 0% no-repeat ;
  border-radius: 10px;
  opacity: 1;
  padding: 0.5rem 1rem;
}

.block_session{
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  width: 100%;
  max-height: 100%;
  .top_row , .session_content{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
  }
  .channel_row{
    display: flex;
    justify-content: space-between;
    .channel_row_lf{
      display: inline-flex;
      vertical-align: center;
      text-align: center;
    }
  }
  .top_row{
    justify-content: space-between;
    .title{
      text-align: left;
      font: normal normal bold 1rem Manrope;
      letter-spacing: 0px;
      color: #495057;
      opacity: 1;
    }
  }
  .session_content{
    padding: 1rem 0;
    font: normal normal normal 13px/22px Manrope;
    letter-spacing: 0px;
    color: #495057;
    opacity: 1;
    .content_row{
      display: flex;
      justify-content: space-between;
      width: 100%;
      div{
        display: flex;
        gap:5%;
      }
    }
    .session_content_tag{

      display: flex;
      flex-direction: column;
      // margin: 5px;
      width: 55%;
      height: 400px;
      overflow: hidden;
      }
      .authBox{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 15vh;
        overflow:scroll;
        // max-height: 50%;
      }
    .authContainer{
      background: var(--unnamed-color-2198fa) 0% 0% no-repeat padding-box;
    background: #2198FA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font: normal normal bold 13px/22px Manrope;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding: .2rem 1.3rem;
    margin: .3rem .5rem;
    height: 26px;
    }
  }
}

.half_session{
  height: 50%;
}

.log_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  textarea{
    flex-grow: 1;
  }
  log_btn{

  }
}
.user_profile_grid{
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  min-height: 550px;
  max-height: 1100px;
  min-width: 1000px;
  max-width: 1600px;
  gap: 2.5%;
  .info_col{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 1rem 3rem;
    position: relative;

    .dot{
      position: absolute;
      top: 1rem;
      right: 2rem;
      cursor: pointer;
    }
    .ava_block{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      gap: .5rem;
      .ava{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0.5rem auto;
      }
      .title{
        font: normal normal bold 20px/33px Manrope;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
      }
    }
    .info_session{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 40%;
      gap:10%;
      .info_row{
        display: flex;
        flex-direction: column;
        .info_label{
          text-align: left;
          font: normal normal normal 12px Manrope;
          letter-spacing: 0px;
          color: #444444;
          opacity: 1;

        }
        .info_content{
          text-align: left;
          font: normal normal 600 16px/22px Manrope;
          letter-spacing: 0px;
          color: #444444;
          opacity: 1;    }
        }
      }



  }
  .main_col{
    height: 100%;
    width: 70%;
    justify-content: space-around;
    display: flex;
    flex-direction:column;
    gap:5%;
    .two_block{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      gap:5%;
      .block{
        flex-grow: 3;
      }
    }
  }
}
