.reply_box{
    display: flex;
    width: 100%;
    .nameTag{
        padding: .5rem .6rem;
        border-radius: 10px;
        color:#2198FA;
        border: 2px solid #2198FA;
        margin:0 3px
        // color: chocolate;
    }
}