.search_session{
  display: flex;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  border-radius: 15px;
  //.search{
  //  max-width:40%;
  //}
  .btn_group{
    display: inline-flex;
    flex-direction: row;
  }
  .btn_group>button{
    margin: auto 0.5rem;
    padding: 0.5rem 1.5rem;
  }
  .btn_group>div{
    margin: auto 0.5rem;
  }
  .select_group{
    width: 100%;
    flex-direction: row;
  }
}