@use "../variables/variables";

.mf_color_text{
  color: variables.$mf_text_color
}

.mf_color_white {
  color: #FFFFFF;
}
.mf_color_blue{
  color: variables.$mf_primary_color;
}

.mf_color_warning{
  color: variables.$mf_warning;
}
.mf_color_delete{
  color: #FFF;
  background-color: variables.$mf_danger;
}