.layout{
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: space-between;
    margin: 0.75rem 0;
    border-radius: 15px;
    padding: 0.5rem 0;
}

.btn_group{
    display: inline-flex;
    flex-direction: row;
}

.btn_group>button{
    margin: auto 0.5rem;
}
.btn_group>div{
    margin: auto 0.5rem;
}
.select_group{
    width: 100%;
    flex-direction: row;
}