.login_layout{
    display: flex;
    background: blue 0% 0% no-repeat padding-box;
    background: url("../public/Mask Group 82.svg") no-repeat ;
    background-position: center;
    background-size: cover;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.Panel,.recovery_panel{
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 20px #00000017;
    background-color: #fff;
    border-radius: 40px;
    box-sizing: border-box;
    /* height: 70vh ; */
    max-height: 773px;
    min-height: 350px;
    width: 37.5vw;
    max-width: 720px;
    min-width: 350px;
    /*vertical-align: center;*/
}
.Panel{
    padding: 10% 0;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}
.recovery_panel{
    padding-top: 10%;
    justify-content: space-around;
}

.login_logo{
    position: absolute;
    left: 7.74%;
    top:6.8%;
    max-width: 88px;
    max-height: 78px;
    width: 5.5vw;
    /* width: 7.2vh; */
}

.message_row{
    height: 7.5%;
    width: 100%;
    min-height: 58px;
    text-align: center;
    padding: 0.25rem;
    justify-content: center;
    vertical-align: center;
    margin: auto;
}

/*.recovery_panel{*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    box-shadow: 0px 7px 20px #00000017;*/
/*    background-color: #fff;*/
/*    border-radius: 40px;*/
/*    box-sizing: border-box;*/
/*    height: 70vh ;*/
/*    max-height: 773px;*/
/*    width: 37.5vw;*/
/*    max-width: 720px;*/
/*    justify-content: space-around;*/
/*}*/

.form_bottom{
    /*margin: 5% auto;*/
    padding: 2.5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.submit_row{
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.forgotPassword{
    color: #2198FA;
}

.login_form{
    justify-content: center;
    align-items: center;
}

.hide_block{
    display: none;
}

.input_margin{
    margin: 5% auto;
    height: 6.3vh;

}

.login_title {
    text-align: center;
    font: normal normal 800 2.3rem Manrope;
    font-size:  calc(2.3rem + 0.1rem * ((100vw - 600px) / (1200 - 600)));
    letter-spacing: 0px;
    color: #2198FA;
    opacity: 1;
}
.login_message{
    font: normal normal 600 1.2rem Manrope;
    font-size:  calc(1rem + (0.1rem) * ((100vw - 600px) / (1200 - 600)));
}

.welcomeMessage {
    text-align: center;
    /*gap: 3.2vh;*/
}
.rememberMe{
    vertical-align: baseline;
}
.success_title{
    position: absolute;
    left: 37.5%;
    top: 37.5%;
}
.success_msg{
    position: absolute;
    left:14.5%;
    top: 40%;
}
.success_btn{
    position: absolute;
    left:28%;
    bottom: 10%;
}

.mx_auto{
    margin-left: auto;
    margin-right: auto;
}